# SPDX-License-Identifier: MIT
# Copyright (c) 2005-2020 Ariya Hidayat <ariya.hidayat@gmail.com>
# Copyright (c) 2023 Jeffrey H. Johnson <trnsz@pobox.com>

6pack/6pack
6pack/6unpack
/.idea/
/cmake-build-*/
*~
*.o
*.bak
core
*.core
